html{ 
  background: radial-gradient(
      transparent, black
    ),url(handhake.jpeg) no-repeat center center fixed; 
  background-size: cover;
  padding-bottom: 180px;
  padding-left:px;
  margin-right: -20px;
  margin-left: -20px;
  margin-top: -10px;
  
  
  
}
                
                    
            
            
            
            
            
            
            div.container
{
    font-family: Raleway;
    margin-top:-10px;
    margin-left: 0px;
    margin-right: -20px;
	padding-top: 35px;
	text-align: center;
    
}

div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 15px 'Arizonia', Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0px 10px;
    margin-right: 120px;
    padding: 10px 10px;
    position: relative;
    z-index: 999;
    cursor: pointer;
}
            div.container a:hover{
                color:tomato
            }
.red
{
    background: black;
    padding-left: 100px;
    padding-bottom: 30px;
   
      opacity: 0.5;
}
            div.topBotomBordersOut a:before, div.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 0px;
    background: tomato;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
    
}

div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
    
}
            /* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
            
            #heading{
                
                padding-top: 100px;
                text-align: center;
            }
            
            #heading-text-1{
                color:white;
                font: 100px 'Arizonia', Helvetica, sans-serif;
                font-weight: 800;
                letter-spacing: 30px;
                text-align: center;
            }
            
            #heading-text-2{
                color:white;
                font: 20px 'Arizonia', Helvetica, sans-serif;
                font-weight: 800;
                letter-spacing: 18px;
                word-spacing: 50px;
                margin-top:-80px;
                padding-left:10px;
                text-align: center;
            }
            
            
            
  

            
            
            #smallbox{
  background: radial-gradient(
      black, transparent
    ),url(profcesspen.jpeg) no-repeat center center fixed; 
  background-size: cover;
  padding-bottom: 200px;
  margin-top: 200px;
  padding-left: 50px;
  
            }      
            
            #small-text-heading{
                color:white;
                font: 75px 'Arizonia', Helvetica, sans-serif;
                font-weight: 800;
                letter-spacing: 10px;
                word-spacing: 20px;
                padding-left:  100px;
                margin-right: 200px;
                padding-top: 150px;
                text-shadow: 0px 0px 8px black;
                
                
                
            }
            
            #smalltext{
                color:white;
                font: 25px 'Arizonia', Helvetica, sans-serif;
                font-weight: 500;
                letter-spacing: 3px;
                word-spacing: 6px;
                padding-left:  100px;
                margin-right: 260px;
                padding-top: 70px;
                text-shadow: 0px 0px 8px black;
                
                
            }  
            
            
            #about{
                background: radial-gradient(
      black, transparent
    ),url(pagemark.jpeg) no-repeat center center fixed; 
                background-size: cover;
                padding:100px;
                padding-left:150px;
            }    
            
            #about-text{
                font: 75px 'Arizonia', Helvetica, sans-serif;
                font-weight: 800;
                letter-spacing: 10px;
                word-spacing: 20px;
                padding-top: 30px;
                color: white;
                
            }
            
            #about-text-1{
                font: 20px 'Arizonia', Helvetica, sans-serif;
                font-weight: 500;
                letter-spacing: 3px;
                word-spacing: 6px;
               color:white;
            }
            
            #about-1{
                font: 20px 'Arizonia', Helvetica, sans-serif;
                font-weight: 500;
                letter-spacing: 3px;
                word-spacing: 6px;
                padding-top:30px;
                padding-right:100px;
                padding-top: 100px;
                color:white;
            }
            
            
            #about-2-heading{
                font: 75px 'Arizonia', Helvetica, sans-serif;
                font-weight: 800;
                letter-spacing: 10px;
                word-spacing: 20px;
                padding-top:100px;
                color:white;
            }
            
            #about-2{
                font: 20px 'Arizonia', Helvetica, sans-serif;
                font-weight: 500;
                letter-spacing: 3px;
                word-spacing: 6px;
                padding-top:100px;
                padding-right:100px;
                color:white;
            }
            #about-3-heading{
                font: 75px 'Arizonia', Helvetica, sans-serif;
                font-weight: 800;
                letter-spacing: 10px;
                word-spacing: 20px;
                padding-top:100px;
                color:white;
            }
            
            #about-3{
                font: 20px 'Arizonia', Helvetica, sans-serif;
                font-weight: 500;
                letter-spacing: 3px;
                word-spacing: 6px;
                padding-top:100px;
                padding-right:100px;
                color:white;
            }
            
            #contact{
                margin-left:150px;
                margin-right:400px;
                padding-top:100px;
            }
            #contact-heading{
                color:white;
                font: 75px 'Arizonia', Helvetica, sans-serif;
                font-weight: 800;
                letter-spacing: 10px;
                word-spacing: 20px;
            }
            
            #contact-text{
                color:white;
                font: 30px 'Arizonia', Helvetica, sans-serif;
                font-weight: 500;
                letter-spacing: 3px;
                word-spacing: 6px;
                padding-top:70px;
                
            }
            
            
            
            label{
  color:white;
  background:linear-gradient(#e33d24, tomato,#e33d24);
  position:relative;
  display:block;
  padding:0 18px 0 12px;
  line-height:3em;
  transition:background 0.3s;
  cursor:pointer;
  margin-left:42%;
  margin-right:42%;
  margin-top:3%;
 font: 15px 'Arizonia', Helvetica, sans-serif;
 font-weight: 600;
 letter-spacing: 3px;
 padding-top:15px;
 padding-bottom:15px;
 text-shadow: 0px 0px 4px black;
 box-shadow: 0px 0px 4px black;
 border-radius: 5px;
}

label:after{
  content:"";
  position:absolute;
  display:block;
  top:50%;
  right:5px;
  width:0;
  height:0;
  border-top:4px solid rgba(255,255,255,.5);
  border-bottom:0 solid rgba(255,255,255,.5);
  border-left:4px solid transparent;
  border-right:4px solid transparent;
  transition:border-bottom .1s, border-top .1s .1s;
  }

label:hover,
input:checked ~ label{background:linear-gradient( 
#085eff,#4083ff,#085eff
);}

input:checked ~ label:after{
  border-top:0 solid rgba(255,255,255,.5);
  border-bottom:4px solid rgba(255,255,255,.5);
  transition:border-top .1s, border-bottom .1s .1s;
}

/*hide the inputs*/
input{display:none}

/*show the second levele menu of the selected voice*/
input:checked ~ ul.submenu{
  max-height:300px;
  transition:max-height 0.5s ease-in;
}

/*style for the second level menu*/
ul.submenu{
  max-height:0;
  padding:0;
  overflow:hidden;
  list-style-type:none;
  background:#444;
  box-shadow:0 0 1px rgba(0,0,0,.3);
  transition:max-height 0.5s ease-out;
  position:absolute;
  width:100%;
  margin-left:10px;
  margin-right:-10px;
  padding-right:30px; 
  opacity:0.8;
  
}

ul.submenu li a{
  display:block;
  padding:12px;
  color:#ddd;
  text-decoration:none;
  box-shadow:0 -1px rgba(0,0,0,.5) inset;
  transition:background .3s;
  white-space:nowrap;
  color:darkgrey;
  width:100%;
  font: 15px 'Arizonia', Helvetica, sans-serif;
 font-weight: 600;
 letter-spacing: 1px;
 text-shadow: 0px 0px 8px black;
 padding:18px;
 opacity:0.8;
   
    
 
}

ul.submenu li a:hover{
  background:rgba(0,0,0,.3);
}
    
